.site-nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    height: 60px;
    background: #27ae60;
    color: rgb(238, 238, 238);
    z-index: 1000;
}

.site-nav .logo {
    font-size: 36px;
    float: left;
}

.site-nav a {
    color: rgb(238, 238, 238);
    padding-left: 10px;
}

.site-nav .trigger {
    margin-right: 30px;
    float: right;
}

