<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/fontello.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/footer.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/menu.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/nav.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/solarized.css" | prepend: site.baseurl }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
    <script src="{{ "/scripts/site.c.js" | prepend: site.baseurl }}" type="text/javascript"></script>
</head>

