<header class="site-header">

    <div class="wrap">
        <nav class="site-nav">
            <div class="logo">
                <a href="/">{emfjson}</a>
            </div>

            <div class="trigger">
                <a class="page-link" href="/documentation">
                    Usage
                </a>
                <a class="page-link" href="/specification">
                    Specification
                </a>
                <a class="page-link" href="/couchdb">
                    CouchDB
                </a>
                <a class="page-link" href="/mongo">
                    MongoDB
                </a>
            </div>
        </nav>

    </div>

</header>
