<header class="site-header">
    <nav class="site-nav">
        <div class="logo">
            <a href="/">{emfjson}</a>
        </div>

        <div class="trigger">
            <a class="page-link" href="/docs">
                Usage
            </a>
            <a class="page-link" href="/specs">
                Specification
            </a>
            <a class="page-link" href="/couchdb">
                CouchDB
            </a>
            <a class="page-link" href="/mongo">
                MongoDB
            </a>
        </div>
    </nav>
</header>
